[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "*"
passlib = "*"

[dev-packages]
ansible-lint = "*"
yamllint = "*"

[requires]
python_version = "3.9"
